:root {
  --backgroundColor: rgba(54, 54, 69, 0.05);
  --containerColor: rgb(54, 54, 69);
  --accentColor: rgb(109, 245, 119);
  --accentShadowColor: rgba(109, 245, 119, 0.16);

  --onAccentFontColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--backgroundColor);
  min-height: 100vh;
  color: var(--containerColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  color: var(--containerColor);
}

#root {
  height: 100vh;
}
