.card {
  display: block;
  background-color: var(--accentColor);
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  box-shadow: 0 1px 6px 0 var(--accentShadowColor);
  text-decoration: none;
  color: var(--onAccentFontColor);
}
