.container {
  display: grid;
  min-height: calc(100vh - 4rem);
  grid-template-columns: 5fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'left user'
    'left right';
  padding: 2.3rem;
}

.leftPad {
  display: flex;
  grid-area: left;
  flex-direction: column;
  align-items: center;
  gap: 2.3rem;
  padding: 0 2.3rem;
}

.leftPad > * {
  width: 100%;
}

.cardList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow-y: auto;
}

.createNew:hover {
  border-color: var(--containerColor);
  color: var(--containerColor);
}

.createNew {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem var(--accentColor) solid;
  text-decoration: none;
  color: var(--accentColor);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.createNew span {
  font-weight: bold;
  line-height: 1.17em;
}

.createNew h3 {
  line-height: 1.17em;
}

.rightPad {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.3rem;
  padding-top: 2.3rem;
  grid-area: right;
}

.rightPad > * {
  width: 30vw;
}

.userPad {
  grid-area: user;
  padding: 0 2.3rem;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  padding: 2.3rem;
  padding-bottom: 1.6rem;
  border-radius: 20px;
}

.userPic {
  border-radius: 20px;
  width: 100%;
}

.button {
  height: 2.3rem;
  border-radius: 100vh;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0 0.7rem;
  cursor: pointer;
  width: 100%;
  background-color: var(--accentColor);
  color: var(--onAccentFontColor);
  box-shadow: 0 1px 6px 0 var(--accentShadowColor);
}

.button:active {
  box-shadow: none;
}

@media (orientation: portrait) {
  .container {
    grid-template-columns: auto;
    grid-template-areas: 'user' 'left' 'right';
    gap: 2.3rem;
  }

  .userPad {
    padding: 0;
  }

  .leftPad {
    padding: 0;
  }

  .rightPad {
    padding-top: 0;
  }

  .rightPad > * {
    width: 100%;
  }
}
